<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.star.leapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".topiccatalog.ThirdTopicActivity" />
        <activity android:name=".topicshow.TopicShowActivity" />
        <activity android:name=".exampleshow.ExampleShowActivity" />
        <activity android:name=".questionshow.QuestionShowActivity" />
        <activity android:name=".examineshow.ExamineShowActivity1" />
        <activity android:name=".examineshow.ExamineShowActivity2" />
        <activity
            android:name=".examineshow.ExamineShowActivity3"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".examineshow.ExamineShowActivity4"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".homepage.progress.ProgressMainActivity" />
        <activity android:name=".examineresult.ExamineResultActivity" />
        <activity android:name=".topicshow.FirstTopicShowActivity"></activity>
    </application>

</manifest>